{% extends 'base.html' %}

{% block content %}

<!-- heading -->
<h1>List of Users</h1>

<br><br>

<table class="table">
    <thead>
      <tr>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Username</th>
        <th scope="col">Email</th>
      </tr>
    </thead>

    <tbody class="table-group-divider">
        {% for user in user %}
            <tr>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
            </tr>
        {% endfor %}
    </tbody>
  </table>

{% endblock content %}
