{% extends 'base.html' %}

{% load static %}


{% block content %}

<style type="text/css">
    .dashboard-backbone{
        display: flex;
    }
    .dashboard-sidebar{
        /* border: 1px solid black; */
    }
    .block-manage{
        border: 1px solid black;
        margin-top: 10px;
        margin-left: 250px;
    }
</style>

<div class="dashboard-backbone">

    <div class="dashboard-sidebar">
        {% include 'core/sidebar.html' %}
    </div>

    <div class="block-manage">
        {% block manage %}
        {% endblock manage %}
    </div>

</div>

{% endblock content %}