{% extends 'base.html' %}


{% block content %}

<h1>Institutions in Partnership</h1>
<hr>


<a href="{% url 'core:partner-create' %}">
    <button class="btn btn-primary">Register new Institution</button>
    <hr width="200px">
</a> 


<div class="messages">
    {% for message in messages %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}
</div>


<!-- list of insitutions -->

<div class="row row-cols-1 row-cols-md-4 g-4">

    {% for institute in institution %}

    <a href="{% url 'core:institution' institute.name %}">
        <div class="col">
            <div class="card institution">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="card-body">
                    <h5 class="card-title">{{ institute.name }}
                    </h5>
                    <p class="card-text"></p>
                </div>
            </div>
        </div>
    </a>

    {% endfor %}

</div>  


{% endblock content %}